/* general text formatting */
h1,
h2,
h3,
nav,
footer,
div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

/* header and footer */
header,
footer {
  color: white;
  background-color: #4b4b4b;
}

header h1 {
  padding: 8px 0 0 20px;
  font-size: 32px;
  font-weight: bold;
}

header p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 16px;
  padding: 0 0 0 20px;
}

/* main article styling */
main {
  background-color: white;
}

section {
  margin-left: 1%;
  padding-top: 10px;
  width: 68%;
  float: left;
}

/* Form style */
legend {
  margin: 0;
  padding: 5px 0px;
  height: 27.2px;
  width: 100%;
  text-transform: uppercase;
  font-size: 21.6px;
  color: #ffffff;
  background-color: #808080;
}

legend span {
  display: inline;
  padding: 0px 0px 0px 15px;
}

fieldset {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  width: 100%;
  border: none;
}

form p {
  margin-top: 8px;
  margin-left: 16px;
  padding: 0px 0px 0px 5px;
}
form input,
select {
  margin: 5px;
}

form input[type="submit"],
input[type="reset"] {
  margin: 10px 10px 10px 20px;
  font-size: medium;
  text-transform: capitalize;
}

section h2 {
  font-size: 21.6px;
  background-color: #919191;
  height: 27.2px;
  color: #f0f0f0;
  border: solid 1px black;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
}

label img {
  margin: 16px 0px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navBar{
  list-style-type: none;
  padding: 0;
  float: left;
  width: 12%;
  margin-left: 3%;
  background-color: lightgray;
  padding-bottom: 30%;
  display: block;
}

.navBar li:hover {
  background-color: rgb(78, 76, 76);
  color: white;

  & a:visited{
    color:white;
  }

  & a:link{
    color: white;
  }

  & a:active{
    color: white;
  }
}

.navBar li a{
  text-decoration: none;
  display: block;
  padding-left: 33%;
  font-size: 21.6px;
}

.navSelect{
  background-color: rgb(78, 76, 76);
  color: white;
}

.navBar li a:link{
  color:black;
}

.navBar li a:visited{
  color: black;
}

.navBar li a:active{
  color: black
}

.rightCol{
  float: right;
  display:block;
  margin-left: 1%;
  margin-right: 3%;
  background-color: lightgray;
  width: 12%;
  padding-bottom: 35%;
}

.rightCol>*{
  color: lightgray;
  display: none;
}

.profileCol{
  float:right;
  background-color: lightgray;
  width: 12%;
  margin-right: 3%;
  margin-left: 1%;
  display: block;
  padding-bottom: 18.8%;
}

.profileCol>*{
  text-align:center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 25px;
  word-wrap: break-word;
}

#profileImage{
  width: 70px;
  height: 70px;
}

details{
  border: solid 1px black;
  padding: 5px 0;
  margin-bottom: 5px;
  width: 68%; 
  margin-left: 16%;
}

details summary{
  margin-bottom: 20px;
}

.posts{
  margin-top: 10px;
}

details p{
  padding-left: 15px;
}

#updateProfile{
  margin-left: 10%;
  margin-top: 10%;
  position: relative;
}

#passwordIssue{
  color: red;
}